.banner-container {
  // width: 100%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100vh;
    display: block;
  }
  .text-overlay {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;

    h2 {
      font-size: 2.5rem;
      text-align: left;
      font-family: "EB Garamond", serif;
      text-transform: lowercase;
    }
    h1 {
      font-family: "EB Garamond", serif;
      font-style: italic;
      font-size: 8rem;
    }
  }
}
